.header {
  padding: 15px;
 .container {
   display: flex;
   justify-content: space-between;
 }
  &-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
}